<!DOCTYPE html>
<html>
<head>
    <title>Document History</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include your custom styles here -->
    <style>
        /* Add your custom styles here */
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            padding-top: 20px;
        }

        .tree {
            list-style: none;
            padding-left: 20px;
        }

        .tree li {
            position: relative;
            padding-left: 20px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }

        .tree li:hover {
            background-color: #f8f9fa;
        }

        .tree li::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 100%;
            background-color: #d1d3d4;
        }

        .tree ul {
            padding-left: 20px;
            display: none;
        }

        .tree li.opened > ul {
            display: block;
        }

        .document-row {
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }

        .document-row:hover {
            background-color: #f8f9fa;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Document History</h1>
        <!-- Display documents history here -->
        <div class="alert alert-danger" id="error-message" style="display: none;">
            {{ error_message }}
        </div>
        <div class="alert alert-success" id="success-message" style="display: none;">
            Document(s) deleted successfully!
        </div>
        <ul class="tree">
            {% for domain in domains %}
            <li class="domain">
                {{ domain.get('name') }}
                <ul>
                    {% for category in domain.get('categories') %}
                    <li class="category">
                        {{ category.get('name') }}
                        <ul>
                            {% for document in category.documents %}
                            {% set year = document.get('year') %}
                            {% if loop.first %}
                            <li class="year">
                                <span>{{ year }}</span>
                                <ul>
                            {% endif %}
                            <li class="document-row" data-document-id="{{ document.document_id }}">
                                <span>Documents Infos:</span>
                                <ul>
                                    <li>User Email: {{ document.user_email }}</li>
                                    <li>Document Name: {{ document.document_name }}</li>
                                    <li>Last update: {{ document.last_update }}</li>
                                </ul>
                                <button class="btn btn-danger"
                                    data-document-id="{{ document.document_id }}"
                                    data-document-domain="{{ domain.name }}"
                                    data-document-category="{{ category.name }}"
                                    data-document-email="{{ document.user_email }}"
                                    onclick="deleteDocument(
                                        '{{ document.document_id }}',
                                        '{{ document.document_name }}',
                                        '{{ document.year }}',
                                        '{{ domain.name }}',
                                        '{{ category.name }}',
                                        '{{ document.user_email }}'
                                )">Delete</button>
                            </li>
                            {% if loop.last %}
                                </ul>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Include your custom JavaScript here -->
    <script>
        $(document).ready(function() {
            $('.tree li.domain').click(function() {
                $(this).toggleClass('opened');
            });

            $('.tree li.category').click(function() {
                event.stopPropagation(); // Prevent event propagation
                $(this).toggleClass('opened');
            });

            $('.tree li.year').click(function() {
                event.stopPropagation(); // Prevent event propagation
                $(this).toggleClass('opened');
            });
            $('.tree li.document-row').click(function() {
                event.stopPropagation(); // Prevent event propagation
                $(this).toggleClass('opened');
            });
        });


        const errorMessageElement = document.getElementById('error-message');
        const successMessageElement = document.getElementById('success-message');
        function deleteDocument(documentId, documentName, documentYear, documentDomain, documentCategory, documentEmail) {
            // Construct the URL with query parameters
            var url = `/delete_document?id=${encodeURIComponent(documentId)}&name=${encodeURIComponent(documentName)}&year=${encodeURIComponent(documentYear)}&domain=${encodeURIComponent(documentDomain)}&category=${encodeURIComponent(documentCategory)}&email=${encodeURIComponent(documentEmail)}`;

            // Get the table row associated with the document ID
            var tableRow = $(`.document-row[data-document-id="${documentId}"]`);

            // Send a request to delete the document using AJAX
            $.ajax({
                url: url,
                method: 'DELETE',
                success: function(response) {
                    // Handle the response, e.g., remove the row from the table
                    if (response.success) {
                        alert('Document deleted successfully');
                        // Remove the row from the table
                        tableRow.remove();
                        successMessageElement.style.display = 'block';
                        errorMessageElement.style.display = 'none';
                    } else {
                        errorMessageElement.textContent = response.error;
                        errorMessageElement.style.display = 'block';
                        successMessageElement.style.display = 'none';
                    }
                },
                error: function() {
                    errorMessageElement.textContent = "Error deleting document";
                    errorMessageElement.style.display = 'block';
                    successMessageElement.style.display = 'none';
                }
            });
        }
    </script>
    <!-- Display error message if present -->
    {% if error_message %}
    <script>
        document.getElementById('error-message').textContent = "{{ error_message }}";
        document.getElementById('error-message').style.display = 'block';
        document.getElementById('success-message').style.display = 'none';
    </script>
    {% endif %}
    {% if success_message %}
    <script>
        document.getElementById('success-message').textContent = "{{ success_message }}";
        document.getElementById('success-message').style.display = 'block';
        document.getElementById('error-message').style.display = 'none';
    </script>
    {% endif %}
</body>
</html>
