<!DOCTYPE html>
<html>
<head>
    <title>BACQROO Admin Interface</title>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Position the logout button at the top left corner */
        .left-logout {
            position: absolute;
            top: 0;
            right: 0;
            margin: 10px;
        }
    </style>
    <style>
    /* Style primary buttons */
    .btn-primary {
        background-color: #3498db;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

    /* Style danger buttons */
    .btn-danger {
        background-color: #e74c3c;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

    /* Style success buttons */
    .btn-success {
        background-color: #2ecc71;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }
    </style>
    <style>
    /* Style the checkbox container */
    .checkbox-container {
        display: inline-block;
        position: relative;
        padding-left: 35px; /* Adjust the spacing */
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 18px;
        user-select: none;
    }

    /* Style the custom checkbox */
    .checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Style the checkmark */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px; /* Adjust the size */
        width: 25px; /* Adjust the size */
        background-color: #eee; /* Soft background color */
        border-radius: 50%;
    }

    /* Style the checked state of the checkmark */
    .checkbox-container input:checked ~ .checkmark {
        background-color: #2196F3; /* Stylish color for checked state */
    }

    /* Style the checkmark icon */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12px; /* Adjust the size */
        height: 12px; /* Adjust the size */
        border-radius: 50%;
        background: white;
    }

    /* Display the checkmark icon when the checkbox is checked */
    .checkbox-container input:checked ~ .checkmark:after {
        display: block;
    }
    </style>
    <style>
    .animation-container {
        display: none;
        width: 100%;
        height: 5px; /* Set the desired height for the animation */
        background-color: #f0f0f0; /* Background color of the animation container */
        overflow: hidden;
    }

    .knight-rider {
        width: 20px; /* Width of the moving element */
        height: 100%;
        background-color: #3498db; /* Color of the moving element */
        animation: none; /* Apply the animation */
    }

    @keyframes knightRider {
        0%, 100% {
            transform: translateX(-100%);
        }
        50% {
            transform: translateX(100%);
        }
    }
    </style>


</head>
<body>
    <div class="container">
        <div class="py-4">
            <!-- Add logo at the top right corner -->
            <div class="d-flex justify-content-end">
                <img src="../images/logo.jpg" alt="Logo" height="100">
            </div>
            <div class="left-logout">
                    <!-- Display logout link if authenticated -->
                    {% if 'user_id' in session %}
                    <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
                    {% endif %}
            </div>
            <div>
                <!-- Display welcome message with user's display name or user_id -->
                {% if 'user_id' in session %}
                    {% if 'display_name' in session and session['display_name'] %}
                        <h3>Welcome, {{ session['display_name'] }}!</h3>
                    {% else %}
                        <h3>Welcome, {{ session['user_id'] }}!</h3>
                    {% endif %}
                {% endif %}
            </div>
            <h1 class="mb-4">Create User</h1>
            <form method="POST" action="/create_user">
                <div class="form-group">
                    <label for="display_name">Name:</label>
                    <input type="text" name="display_name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="role">Role:</label>
                    <select name="role" class="form-control" required>
                        <option value="admin">admin</option>
                        <option value="client">client</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="domain">Domain:</label>
                    <select name="domain" class="form-control" required>
                        <option value="BACQROO-PDC">BACQROO-PDC</option>
                        <option value="BACQROO-MEX">BACQROO-MEX</option>
                        <option value="BACQROO-ALL">BACQROO-ALL</option>
                    </select>
                </div>
                <div class="alert alert-danger" id="error-message" style="display: none;">
                    {{ error_message }}
                </div>
                <div class="alert alert-success" id="success-message" style="display: none;">
                    Document(s) uploaded successfully!
                </div>
                <button type="submit" class="btn btn-primary">Create User</button>
            </form>
        </div>

        <hr>

        <div class="py-2">
            <label for="searchEmail">Search by Email:</label>
            <input type="text" id="searchEmail" class="form-control" onkeyup="filterUsers()">
        </div>

        <div class="py-4">

            <!-- Upload Document Form -->
            <form id="uploadForm" method="POST" action="/handle_selection" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <select id="userDropdown" class="form-control">
                        {% for user in users %}
                        <option value="{{ user.uid }}">{{ user.email }}</option>
                        {% endfor %}
                    </select>
                    <select id="categoryDropdown" class="form-control">
                        <option value="Tax">Tax</option>
                        <option value="Financial">Financial</option>
                    </select>
                    <div class="custom-file">
                        <input type="file" name="document" class="custom-file-input" id="documentInput" multiple>
                        <label class="custom-file-label" for="documentInput">Choose file(s)</label>
                    </div>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </div>
                <!-- Container for the animation -->
                <div class="animation-container">
                    <div class="knight-rider"></div>
                </div>
            </form>

            <h1 class="mb-4">Manage Users</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Disabled</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>UID</th>
                        <th>Role</th>
                        <th>Domain</th>
                        <th>Actions</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr data-uid="{{ user.uid }}" data-custom-claims="{{ user.custom_claims['domain'] }}">
                        <td class="disabled-cell">
                            <!-- Display the disabled status -->
                            {% if user.disabled %}
                            Yes
                            {% else %}
                            No
                            {% endif %}
                        </td>
                        <td>{{ user.display_name }}</td>
                        <td class="email-cell">{{ user.email }}</td>
                        <td>{{ user.uid }}</td>
                        <td class="row-cell">
                            <!-- Display the current role -->
                            {% if user.custom_claims and 'role' in user.custom_claims %}
                            {{ user.custom_claims['role'] }}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                        <td>
                            <!-- Display the current domain -->
                            {% if user.custom_claims and 'domain' in user.custom_claims %}
                            {{ user.custom_claims['domain'] }}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                        <td>
                            <form method="POST" onsubmit="updateUserRole('{{ user.uid }}'); return false;">
                                <input type="hidden" name="uid" value="{{ user.uid }}">
                                <div class="d-flex justify-content-between align-items-center">
                                    <select id="newRoleDropdown" class="form-control" style="width: 150px;">
                                        <option value="admin">admin</option>
                                        <option value="client">client</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-success ml-2">Update</button>
                                    </div>
                                </div>
                            </form>
                            <form method="POST" onsubmit="updateUserStatus('{{ user.uid }}', 'toggle_disable'); return false;">
                                <input type="hidden" name="uid" value="{{ user.uid }}">
                                <input type="hidden" name="action" value="toggle_disable">
                                <button type="submit" class="btn btn-{{ 'danger' if user.disabled else 'success' }} btn-sm">
                                    {{ 'Enable' if user.disabled else 'Disable' }}
                                </button>
                            </form>
                            <form method="POST" action="/delete_user/{{ user.uid }}">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                       <td>
                            <!-- Add a checkbox for selecting users with custom styling -->
                            <label class="checkbox-container">
                                <input type="checkbox" class="user-checkbox" data-uid="{{ user.uid }}">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function updateUserStatus(uid, action) {
            fetch('/update_user_status', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `uid=${encodeURIComponent(uid)}&action=${encodeURIComponent(action)}`
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Update UI or show a success message
                    // Reload the Manage Users table or update the relevant parts
                    if (data.user) {
                        updateTableRow(data.user, "UpdateUserStatus");
                    }
                } else {
                    // Handle error
                    console.error(data.message);
                    document.getElementById('error-message').textContent = data.message;
                }
            })
            .catch(error => {
                console.error(error);
                document.getElementById('error-message').textContent = error;
            });
        }

        function updateUserRole(uid) {

            const newRoleDropdown = document.getElementById('newRoleDropdown');
            const selectedRole = newRoleDropdown.value;

            fetch('/update_user', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `uid=${encodeURIComponent(uid)}&new_role=${encodeURIComponent(selectedRole)}`
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Update UI or show a success message
                    // Reload the Manage Users table or update the relevant parts
                    if (data.user) {
                        updateTableRow(data.user, "UpdateUserRole");
                    }
                } else {
                    // Handle error
                    console.error(data.message);
                    document.getElementById('error-message').textContent = data.message;
                }
            })
            .catch(error => {
                console.error(error);
                document.getElementById('error-message').textContent = error;
            });
        }

        // Update the table row with new user data
        function updateTableRow(user, updateString) {
            const tableRow = document.querySelector(`tr[data-uid="${user.uid}"]`);
            if (tableRow) {
                if (updateString == "UpdateUserStatus") {
                    const disabledCell = tableRow.querySelector('.disabled-cell');
                    disabledCell.textContent = user.disabled ? 'Yes' : 'No';
                } else {
                    const rowCell = tableRow.querySelector('.row-cell');
                    rowCell.textContent =  user.role
                }
            }
        }
    </script>
    <script>
        // Check if the error message is present in the session
        const errorMessage = "{{ session.get('error_message', "") }}";
        if (errorMessage != "") {
            const errorMessageId = document.getElementById('error-message');
            errorMessageId.textContent = errorMessage;
            errorMessageId.style.display = 'block';

            // Clear the error message from the session
            fetch('/clear_error_message', { method: 'POST' });
        }
    </script>
    <script>
        function filterUsers() {
            const searchInput = document.getElementById('searchEmail').value.toLowerCase();
            const tableRows = document.querySelectorAll('tbody tr');

            tableRows.forEach(row => {
                const emailCell = row.querySelector('.email-cell');
                if (emailCell.textContent.toLowerCase().includes(searchInput)) {
                    row.style.display = 'table-row';
                } else {
                    row.style.display = 'none';
                }
            });
        }
    </script>
    <script>
        const userDropdown = document.getElementById('userDropdown');
        const documentInput = document.getElementById('documentInput');
        const errorMessageElement = document.getElementById('error-message');
        const successMessageElement = document.getElementById('success-message');


        // Trigger the change event manually on page load
        document.addEventListener('DOMContentLoaded', () => {
            updateDocumentInput();
        });

        userDropdown.addEventListener('change', () => {
            updateDocumentInput();
        });

        function updateDocumentInput() {
            const selectedUid = userDropdown.value;
            const selectedEmail = userDropdown.options[userDropdown.selectedIndex].text;
            const selectedUserRow = document.querySelector(`tr[data-uid="${selectedUid}"]`);

            // Get the user's custom claims as a string from the DOM element
            const customClaimsString = selectedUserRow.getAttribute('data-custom-claims');

            // Parse the custom claims string as JSON to access the domain
            const selectedDomain = customClaimsString;

            documentInput.labels[0].textContent = `Choose file for ${selectedEmail}`;
            documentInput.dataset.uid = selectedUid;
            documentInput.dataset.email = selectedEmail;
            documentInput.dataset.domain = selectedDomain;
        }

        const uploadForm = document.getElementById('uploadForm');
        uploadForm.addEventListener('submit', async (event) => {
            event.preventDefault();

            // star the animation
            //showAnimation()

             // Check if a document is selected
            if (documentInput.files.length === 0) {
                errorMessageElement.textContent = 'Please select a document to upload.';
                errorMessageElement.style.display = 'block';
                return; // Stop further processing
            }

            // Clear any previous error or success messages
            errorMessageElement.style.display = 'none';
            successMessageElement.style.display = 'none';

            const selectedUid = documentInput.dataset.uid;
            const selectedEmail = documentInput.dataset.email;
            const selectedDomain = documentInput.dataset.domain;

            // Include the selected UID in the form data
            const formData = new FormData(uploadForm);
            formData.append('user_dropdown', selectedUid);
            formData.append('selected_email', selectedEmail);
            formData.append('selected_domain', selectedDomain);
            // Add the category
            const selectedCategory = getSelectedCategory();
            formData.append('selected_category', selectedCategory);

            // Loop through selected files and append them to the FormData object
            for (const file of documentInput.files) {
                formData.append('documents', file);
            }

            try {
                // Perform the document upload using fetch
                const response = await fetch('/handle_selection', {
                    method: 'POST',
                    body: formData
                });

                const responseData = await response.json();

                // Handle the response and UI updates
                if (responseData.success) {
                    // Update UI or show a success message
                    errorMessageElement.style.display = 'none'; // Hide the error message
                    successMessageElement.textContent =  responseData.message
                    successMessageElement.style.display = 'block'; // Show the success message
                    // stop the animation
                    hideAnimation()
                    // Clear the selected file from the input element
                    documentInput.value = '';
                } else {
                    // Handle error
                    errorMessageElement.textContent = 'Please select a document to upload.';
                    errorMessageElement.style.display = 'block';
                    // stop the animation
                    hideAnimation()
                }
            } catch (error) {
                errorMessageElement.textContent = 'Please select a document to upload.';
                errorMessageElement.style.display = 'block';
                // stop the animation
                hideAnimation()
            }
        });

        function getSelectedCategory() {
            const categoryDropdown = document.getElementById('categoryDropdown');
            return categoryDropdown.value;
        }

        function showAnimation() {
            const animationContainer = document.querySelector('.animation-container');
            const knightRiderElement = animationContainer.querySelector('.knight-rider');
            knightRiderElement.style.animation = 'knightRider 1s infinite';
            animationContainer.style.display = 'block';
        }

        function hideAnimation() {
            const animationContainer = document.querySelector('.animation-container');
            const knightRiderElement = animationContainer.querySelector('.knight-rider');
            knightRiderElement.style.animation = 'none'; // Remove the animation
            animationContainer.style.display = 'none';
        }

    </script>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Display error message if present -->
    {% if error_message %}
    <script>
        document.getElementById('error-message').textContent = "{{ error_message }}";
        document.getElementById('error-message').style.display = 'block';
    </script>
    {% endif %}
</body>
</html>
