<!DOCTYPE html>
<html>
<head>
    <title>BACQROO Admin Interface</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="py-4">
            <!-- Add logo at the top right corner -->
            <div class="d-flex justify-content-end">
                <img src="../images/logo.jpg" alt="Logo" height="100">
            </div>
            <h1 class="mb-4">Create User</h1>
            <form method="POST" action="/create_user">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="role">Role:</label>
                    <select name="role" class="form-control" required>
                        <option value="admin">admin</option>
                        <option value="client">client</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="domain">Domain:</label>
                    <select name="domain" class="form-control" required>
                        <option value="BACQROO-PDC">BACQROO-PDC</option>
                        <option value="BACQROO-MEX">BACQROO-MEX</option>
                    </select>
                </div>
                <div class="alert alert-danger" id="error-message" style="display: none;">{{ error_message }}</div>
                <button type="submit" class="btn btn-primary">Create User</button>
            </form>
        </div>

        <hr>

        <div class="py-4">
            <h1 class="mb-4">Manage Users</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>UID</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>{{ user.uid }}</td>
                        <td>
                            <!-- Display the current role -->
                            {% if user.custom_claims and 'role' in user.custom_claims %}
                            {{ user.custom_claims['role'] }}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                        <td>
                            <form method="POST" action="/update_user">
                                <input type="hidden" name="uid" value="{{ user.uid }}">
                                <div class="input-group">
                                    <select name="new_role" class="form-control">
                                        <option value="Admin">admin</option>
                                        <option value="client">client</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-success">Update</button>
                                    </div>
                                </div>
                            </form>
                            <form method="POST" action="/delete_user/{{ user.uid }}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Include Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Display error message if present -->
    {% if error_message %}
    <script>
        document.getElementById('error-message').textContent = "{{ error_message }}";
        document.getElementById('error-message').style.display = 'block';
    </script>
    {% endif %}
</body>
</html>
