<!DOCTYPE html>
<html>
<head>
    <title>BACQROO Admin Interface</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Position the logout button at the top left corner */
        .left-logout {
            position: absolute;
            top: 0;
            right: 0;
            margin: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="py-4">
            <!-- Add logo at the top right corner -->
            <div class="d-flex justify-content-end">
                <img src="../images/logo.jpg" alt="Logo" height="100">
            </div>
            <div class="left-logout">
                    <!-- Display logout link if authenticated -->
                    {% if 'user_id' in session %}
                    <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
                    {% endif %}
            </div>
            <div>
                <!-- Display welcome message with user's display name or user_id -->
                {% if 'user_id' in session %}
                    {% if 'display_name' in session and session['display_name'] %}
                        <h3>Welcome, {{ session['display_name'] }}!</h3>
                    {% else %}
                        <h3>Welcome, {{ session['user_id'] }}!</h3>
                    {% endif %}
                {% endif %}
            </div>
            <h1 class="mb-4">Create User</h1>
            <form method="POST" action="/create_user">
                <div class="form-group">
                    <label for="display_name">Name:</label>
                    <input type="text" name="display_name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="role">Role:</label>
                    <select name="role" class="form-control" required>
                        <option value="admin">admin</option>
                        <option value="client">client</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="domain">Domain:</label>
                    <select name="domain" class="form-control" required>
                        <option value="BACQROO-PDC">BACQROO-PDC</option>
                        <option value="BACQROO-MEX">BACQROO-MEX</option>
                        <option value="BACQROO-ALL">BACQROO-ALL</option>
                    </select>
                </div>
                <div class="alert alert-danger" id="error-message" style="display: none;">
                    {{ error_message }}
                </div>
                <button type="submit" class="btn btn-primary">Create User</button>
            </form>
        </div>

        <hr>

        <div class="py-4">
            <h1 class="mb-4">Manage Users</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>UID</th>
                        <th>Role</th>
                        <th>Domain</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.display_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.uid }}</td>
                        <td>
                            <!-- Display the current role -->
                            {% if user.custom_claims and 'role' in user.custom_claims %}
                            {{ user.custom_claims['role'] }}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                        <td>
                            <!-- Display the current domain -->
                            {% if user.custom_claims and 'domain' in user.custom_claims %}
                            {{ user.custom_claims['domain'] }}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                        <td>
                            <form method="POST" action="/update_user">
                                <input type="hidden" name="uid" value="{{ user.uid }}">
                                <div class="input-group">
                                    <select name="new_role" class="form-control">
                                        <option value="Admin">admin</option>
                                        <option value="client">client</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-success">Update</button>
                                    </div>
                                </div>
                            </form>
                            <form method="POST" action="/delete_user/{{ user.uid }}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Include Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Display error message if present -->
    {% if error_message %}
    <script>
        document.getElementById('error-message').textContent = "{{ error_message }}";
        document.getElementById('error-message').style.display = 'block';
    </script>
    {% endif %}
</body>
</html>
